<% if (htmlWebpackPlugin.options.isDev) { %>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="b-header-stripe03">
            <div class="b-menu2">
                <ul></ul>
            </div>
        </div>
        <div class="b-header-stripe01">
            <div class="b-logo"></div>
        </div>
    </body>
    </html>
<% } %>
<%= htmlWebpackPlugin.tags.headTags %>
<%= htmlWebpackPlugin.tags.bodyTags %>